[user]
	name  = atton
	email = e115763@gmail.com
[push]
	default = current
[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
[gc]
	auto = 0
[include]
	path = .githubconfig
	path = .gitconfig.local
