# enumerate files controlled by git

# this
!.gitignore

# package settings
!Gemfile
!Brewfile
!Caskfile

# directory
!dot_files

# .rc files
!dot_files/.pryrc
!dot_files/.vimperatorrc
!dot_files/.vimrc
!dot_files/.vimrc_plugins
!dot_files/.vimshrc
!dot_files/.vrapperrc
!dot_files/.zshrc
!dot_files/.zshrc.util

# settings
!dot_files/.gitconfig
!dot_files/.gdbinit
!dot_files/.tmux.conf

# zsh settings
!dot_files/.zsh.d
!dot_files/.zsh.d/zsh-notify

# .vim directory
!dot_files/.vim

# vim templetes
!dot_files/.vim/templates
!dot_files/.vim/templates/php.php
!dot_files/.vim/templates/python.py
!dot_files/.vim/templates/ruby.rb
!dot_files/.vim/templates/shell.sh
!dot_files/.vim/templates/tex.tex
!dot_files/.vim/templates/vim.vim

# emacs settings
!dot_files/.emacs.d
!dot_files/.emacs.d/init.el

# elisp
!dot_files/.emacs.d/elisp
!dot_files/.emacs.d/elisp/east-asian-ambiguous.el

# tmuxinator
!dot_files/.tmuxinator

# mux files
!dot_files/.tmuxinator/lab.yml
!dot_files/.tmuxinator/noir.yml
!dot_files/.tmuxinator/syskan.yml
!dot_files/.tmuxinator/akatsuki.yml

# snippets
!dot_files/.vim/snippets
!dot_files/.vim/snippets/_.snip
!dot_files/.vim/snippets/c.snip
!dot_files/.vim/snippets/cpp.snip
!dot_files/.vim/snippets/markdown.snip
!dot_files/.vim/snippets/ruby.snip
!dot_files/.vim/snippets/tex.snip

# install script
!install.sh
!uninstall.sh

# ignore unenumerated files
*
