# ignore all files
*

# enumerate files controlled by git

!.gitignore

# package settings
!Gemfile
!Brewfile

# directories
!dot_files
!dot_files/.config
!dot_files/.config/aws
!dot_files/.config/bundler
!dot_files/.config/cocoapods
!dot_files/.config/git
!dot_files/.config/git/hooks
!dot_files/.config/nvim
!dot_files/.config/nvim/swap
!dot_files/.config/pry
!dot_files/.config/tmux
!dot_files/.config/tmuxinator
!dot_files/.config/vim
!dot_files/.config/zsh
!dot_files/.docker
!macOS
!scripts

# .gitkeep files
!dot_files/.config/aws/.gitkeep
!dot_files/.config/bundler/.gitkeep
!dot_files/.config/cocoapods/.gitkeep
!dot_files/.config/nvim/swap/.gitkeep
!dot_files/.config/pry/.gitkeep
!dot_files/.config/vim/.gitkeep

# settings
!dot_files/.config/git/config
!dot_files/.config/git/hooks/pre-commit
!dot_files/.config/git/ignore
!dot_files/.config/nvim/init.vim
!dot_files/.config/nvim/plugins.vim
!dot_files/.config/tmux/tmux.conf
!dot_files/.config/tmuxinator/work.yml
!dot_files/.config/zsh/zprofile.mac
!dot_files/.config/zsh/zprofile.util
!dot_files/.docker/config.json
!dot_files/.emacs
!dot_files/.npmrc
!dot_files/.pryrc
!dot_files/.vimrc
!dot_files/.wgetrc
!dot_files/.zprofile

# nvim templetes
!dot_files/.config/nvim/templates/python.py
!dot_files/.config/nvim/templates/ruby.rb
!dot_files/.config/nvim/templates/shell.sh

# neosnipet snippets
!dot_files/.config/nvim/snippets/_.snip
!dot_files/.config/nvim/snippets/ruby.snip
!dot_files/.config/nvim/snippets/text.snip

# configurations for macOS
!macOS/DefaultKeyBinding.dict
!macOS/keymap.conf

# scripts
!scripts/docker-init.sh
!scripts/node-init.sh
!scripts/neovim-init.sh
!scripts/python-init.sh
!scripts/ruby-init.sh

# installation scripts
!install.sh
!uninstall.sh
