# ignore all files
*

# this
!.gitignore

# direcotry
!dot_files

# .rc files
!dot_files/.vimrc
!dot_files/.vimrc_plugins
!dot_files/.zshrc
!dot_files/.screenrc
!dot_files/.vimshrc
!dot_files/.vimperatorrc
!dot_files/.vrapperrc

# .vim direcotry
!dot_files/.vim

# vim templetes
!dot_files/.vim/templates
!dot_files/.vim/templates/shell.sh
!dot_files/.vim/templates/ruby.rb
!dot_files/.vim/templates/php.php
!dot_files/.vim/templates/tex.tex

# snippets
!dot_files/.vim/snippets
!dot_files/.vim/snippets/tex.snip

# install script
!install.sh
!uninstall.sh
