name: Brew bundle

on: [push, pull_request]

# https://help.github.com/en/actions/reference/virtual-environments-for-github-hosted-runners#supported-runners-and-hardware-resources

jobs:
  homebrew-macos:
    runs-on: macos-latest
    steps:
    - name: Remove built-in conflict commands
      run: rm -f /usr/local/bin/aws /usr/local/bin/aws_completer
    - uses: actions/checkout@v2
    - name: Install formulas by brew bundle
      run: |
        $(brew update >& /dev/null || true)
        brew tap homebrew/bundle
        brew bundle cleanup
        brew bundle
