name: Verify .vimrc

on: [push, pull_request]

jobs:
  vim-alpine-3-10:
    runs-on: ubuntu-latest
    container: docker://alpine:3.10
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: |
          apk add vim
          rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
  vim-alpine-3-11:
    runs-on: ubuntu-latest
    container: docker://alpine:3.11
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: |
          apk add vim
          rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
  vim-alpine-3-12:
    runs-on: ubuntu-latest
    container: docker://alpine:3.12
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: |
          apk add vim
          rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
  vim-alpine-latest:
    runs-on: ubuntu-latest
    container: docker://alpine
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: |
          apk add vim
          rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
  vim-centos-7:
    runs-on: ubuntu-latest
    container: docker://centos:7
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: |
          yum install -y vim
          rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
  vim-centos-8:
    runs-on: ubuntu-latest
    container: docker://centos:8
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: |
          dnf install -y vim
          rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
  vim-centos-latest:
    runs-on: ubuntu-latest
    container: docker://centos:8
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: |
          dnf install -y vim
          rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
  vim-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
  vim-ubuntu-16-04:
    runs-on: ubuntu-latest
    container: docker://ubuntu:16.04
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: |
          apt-get update && apt-get install -y vim
          rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
  vim-ubuntu-18-04:
    runs-on: ubuntu-latest
    container: docker://ubuntu:18.04
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: |
          apt-get update && apt-get install -y vim
          rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
  vim-ubuntu-20-04:
    runs-on: ubuntu-latest
    container: docker://ubuntu:20.04
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: |
          apt-get update && apt-get install -y vim
          rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
  vim-ubuntu-latest:
    runs-on: ubuntu-latest
    container: docker://ubuntu
    steps:
      - uses: actions/checkout@v2
      - name: Validate .vimrc
        run: |
          apt-get update && apt-get install -y vim
          rm -rf $HOME/.config && ./install.sh && ./scripts/vim-healthcheck.sh
